html, body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Oxanium', cursive;
}

h1 {
    margin-top: 20px;
    padding: 20px;
    background-color: #d9e6f2;
    border-radius: 3px;
}

ul {
    margin: 0;
    padding: 10px;
}

ul > li {
    list-style-type: none;
}